body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #e6e7e8;
}

#main-container {
    margin-bottom: 70px;
    overflow: auto;
}

.container {
    padding: 20px;
}

div.logo {
    text-align: center;
    padding-top: 1.5em;
}

div.logo img {
    height: auto;
    width: 14%;
}

/* Form Page */

#user-form-h1 {
    text-align: center;
    color: #6d6e70;
    font: 700 25px 'Montserrat';
    letter-spacing: .08rem;
    text-transform: uppercase;
    margin: 40px 0 0 0;
}

#user-form-p {
    text-align: center;
    letter-spacing: .08rem;
    color: #6d6e70;
}

div.lion-image img {
    height: auto;
    width: 100%;
    margin-bottom: -0.3em;
}

input[type=submit] {
    background-color: #fff;
    height: 2.75em;
    margin: 1em auto auto;
}

@media (min-width: 768px) {
    input[type=submit] {
        background: #fff;
        left: 50%;
        height: 3rem;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 90%;
    }
}

input[type=email],
input[type=text] {
    height: 1.5rem;
    margin: 0 0 1.15rem;
    width: 100%;
}

figure {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    figure {
        float: left;
        height: 100%;
        position: relative;
        width: 50%;
    }
}

form {
    overflow: hidden;
    padding: 10%;
    position: relative;
    width: 80%;
    /* margin-top: 2em; */
    margin: 8% 0 8% 0;
}

@media (min-width: 768px) {
    form {
        float: left;
        height: 78%;
        padding: 6%;
        width: 38%;
    }
}

main {
    margin: 30px auto auto;
    overflow: hidden;
    position: relative;
    width: 90%;
}

/* Form Skin */

input[type="email"],
input[type=text] {
    background: none;
    border: none;
    border-bottom: 2px solid #6d6e70;
    box-sizing: border-box;
    outline: none;
}

input[type=email]:required,
input[type=text]:required {
    box-shadow: none;
    outline: none;
}

input[type=submit] {
    background: #5ea370;
    border: none;
    color: #fff;
    padding: 0 2rem;
}

input[type=submit]:hover,
input[type=submit]:focus {
    background: #acd0b5;
    cursor: pointer;
    outline: none;
}

.inputs--filled label {
    transform: translate(0, 0);
}

label {
    transform: translate(0, 1.25rem);
    transition: 0.15s;
}

main {
    background: whitesmoke;
    border-radius: 0.25rem;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}

.text-body,
#user-has_account {
    color: black;
    font: 700 15px 'Montserrat', sans-serif;
}

.text-small-uppercase {
    color: #6d6e70;
    font: 700 .75rem 'Montserrat';
    letter-spacing: .08rem;
    text-transform: uppercase;
}

.text-subheadline {
    color: black;
    left: -.17rem;
    letter-spacing: .143rem;
    font: 700 0.652rem 'Montserrat';
    margin-bottom: 1.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .text-subheadline {
        font: 700 0.75rem 'Montserrat';
    }
}

/* Quiz Questions */
div#question-container,
div#result-container {
    background-color: #fff;
	max-width: 70%;
	margin: 50px auto;
	padding: 30px 20px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
} 

div.questions-form-control {
    text-align: left;
    margin-bottom: 25px;
}

.questions-form-control label {
    display: block;
    margin: -15px 0 10px 0;
}

.questions-form-control input {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
    margin: 3px 5px 3px 3px;
}

.questions-form-control input[type="radio"] {
    display: inline-block;
    width: auto;
}

#quiz-btn {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    background-color: #3e914d;
    color: white;
}

#quiz-btn:hover,
.retake-quiz-btn {
    opacity: 1;
}

/* Result */
.retake-quiz-btn {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    background-color: #dd4b39;
    color: white;
}

/* Result Slideshow Images */
.slideshow-container {
    width: 100%; 
    height: 0px; 
    padding-bottom: 50%; 
    overflow: hidden; 
    position: relative;
}

.slideshow-container img {
    position: absolute; 
    animation: slideshow-container 20s infinite; 
    opacity: 0; 
    width: 100%; 
    height: auto;
}

@keyframes slideshow-container {
    25% {opacity:1;} 
    40%{opacity:0;}
}
.slideshow-container img:nth-child(1){animation-delay:0s;}
.slideshow-container img:nth-child(2){animation-delay:5s;}
.slideshow-container img:nth-child(3){animation-delay:10s;}
.slideshow-container img:nth-child(4){animation-delay:15s;}

h3.level {
    text-align: center;
    color: #6d6e70;
    font: 700 25px 'Montserrat';
    letter-spacing: .08rem;
    text-transform: uppercase;
}

p.description,
p.products,
p.promo-code {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.button-free-content {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    background-color: blue;
    color: white;
    text-decoration: none;
}

.buttton-store {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    background-color: green;
    color: white;
    text-decoration: none;
}

span#promo-code-info {
    font-size: 0.8em;
}